.list-move {
  transition: transform 0.3s, opacity 0.4s; }

.list-item {
  display: inline-block;
  margin-right: 10px; }

.list-enter-active, .list-leave-active {
  transition: opacity 0.4s; }

.list-enter, .list-leave-to {
  opacity: 0; }

.vue-notifyjs button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0; }

.vue-notifyjs .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }

.vue-notifyjs .alert {
  border: 0;
  border-radius: 0.1875rem;
  color: #FFFFFF;
  padding-top: .9rem;
  padding-bottom: .9rem;
  font-size: 14px;
  z-index: 100;
  display: inline-block;
  position: fixed !important;
  transition: all 0.5s ease-in-out;
  cursor: pointer; }
  .vue-notifyjs .alert.center {
    left: 0px;
    right: 0px;
    margin: 0 auto; }
  .vue-notifyjs .alert.left {
    left: 20px; }
  .vue-notifyjs .alert.right {
    right: 20px; }
  .vue-notifyjs .alert[data-notify="container"] {
    width: 350px;
    padding: 10px 10px 10px 20px;
    border-radius: 4px; }

.vue-notifyjs .alert.alert-success {
  background-color: #1be611; }

.vue-notifyjs .alert.alert-danger {
  background-color: #ff5050; }

.vue-notifyjs .alert.alert-warning {
  background-color: #ffbc50; }

.vue-notifyjs .alert.alert-info {
  background-color: #46b3ff; }

.vue-notifyjs .alert.alert-primary {
  background-color: #fa764b; }

.vue-notifyjs .alert i.fa, .vue-notifyjs .alert i.now-ui-icons {
  font-size: 20px; }

.vue-notifyjs .alert .close {
  color: #FFFFFF;
  opacity: .9;
  text-shadow: none;
  line-height: 0;
  outline: 0; }

.vue-notifyjs .alert span[data-notify="icon"] {
  font-size: 22px;
  display: block;
  left: 19px;
  position: absolute;
  top: 50%;
  margin-top: -11px; }

.vue-notifyjs .alert button.close {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
  width: 25px;
  height: 25px;
  padding: 3px; }

.vue-notifyjs .alert .close ~ span {
  display: block;
  max-width: 89%; }

.vue-notifyjs .alert.alert-with-icon {
  padding-left: 65px; }
