.list-item {
  opacity: 1;
  margin-right: 10px;
}
.list-enter-active,
.list-leave-active {
  transition: all 0.4s;
}

.list-enter,
.list-leave-to
  /* .list-leave-active for <2.1.8 */
{
  opacity: 0;
  transform: translateY(-30px);
}
